<div class="form">
  <div id="signup">
    <h1>Sign Up</h1>
    <% if (errorMessage) { %>
      <p class="error-message" style="text-align: center">
        <%= errorMessage %>
      </p>
      <% } %>
        <form action="/signup" method="post">
          <div class="top-row">
            <div class="field-wrap">
              <input type="text" placeholder="First Name" name="firstName" />
            </div>
            <div class="field-wrap">
              <input type="text" placeholder="Last Name" name="lastName" />
            </div>
          </div>
          <div class="field-wrap">
            <input type="email" placeholder="email" name="email" />
          </div>
          <div class="field-wrap">
            <input type="password" placeholder="Password" name="password" />
          </div>
          <button type="submit" class="button button-block" />Get Started</button>
        </form>
        <br>
        <p style='float: right;'>
          Already have an account?
          <a href="/login">
            Log in.
          </a>
        </p>
  </div>
</div>
<!-- /form -->
