<div class="form">
  <div id="new-contests">
    <h1>Create new contest!</h1>
        <form action="/new-contests" method="post" enctype="multipart/form-data">
          <div class="field-wrap">
            <input type="text" placeholder="Group Name" name="group-name" />
          </div>
          <div class="field-wrap">
            <input type="text" placeholder="Hashtag" name="hashtag" />
          </div>
          <div class="field-wrap">
            <input type="text" placeholder="Prize" name="prize" />
          </div>
          <div class="field-wrap">
            <input type="text" placeholder="Final Date" name="finalDate" />
          </div>
          <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="text" name="name">
            <input type="file" name="photo">
            <input type="submit" value="Save">
          </form>
          <button class="button button-block" />Create</button>
        </form>
  </div>
</div>
<!-- /form -->
