body {
  background-color: #315989;
  /*background-image: url('../../img/matadero.JPG');
  background-repeat: no-repeat;
  background-size: cover;*/
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #fff;
}

a {
  color: #00B7FF;
}
