<h3>Dashboard</h3>

<section>
  <% pictures.forEach(function(picture) { %>
    <h3><%= picture.name %></h3>
    <img width="300" src="<%= picture.pic_path %>" alt="<%= picture.pic_name %>" />
  <% })%>
</section>
